<div class="container">
  <nav class="navbar">
    <h1 routerLinkActive="active">
      <a [routerLink]="['/details']">Project details</a>
    </h1>
  
    <ul>
      <li
      routerLinkActive="active" 
      [routerLinkActiveOptions]="{exact: true}"
      >
      <a [routerLink]="['/']">Home Page</a></li>
  
      <li routerLinkActive="active"><a [routerLink]="['/fight']">Fight</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/stats']">Stats</a></li>
    </ul>
  
  </nav>
  
  
  <div>
      <router-outlet></router-outlet>
  </div>
  
</div>
