<!-- <button (click)="showFighter(hero)">
        Get hero
</button> -->

<div class="mainfield">
  <div class="card">
    <ul>
      <li>Name : {{ this.hero1.name }}</li>
      <li>Health: {{ this.hero1.hp }}</li>
      <li>Damage: {{ this.hero1.dmg }}</li>
      <li>Atack Speed: {{ this.hero1.as }}</li>
      <li>Armor: {{ this.hero1.arm }}</li>
      <li>Bone A: {{ a }}</li>    
      <li>Bone B: {{ b }}</li>   
      <li>resHpHero1: {{ resHpHero1 }}</li> 
      <li>data1: {{ fightersService.dataResHp1[0] }}</li>     
    </ul>
  </div>  
  <!-- <button (click)="showFighter(evilHero)">
  Get hero
  </button> -->


  <div class="card">
    <ul>
      <li>Name : {{ this.hero2.name }}</li>
      <li>Health: {{ this.hero2.hp }}</li>
      <li>Damage: {{ this.hero2.dmg }}</li>
      <li>Atack Speed: {{ this.hero2.as }}</li>
      <li>Armor: {{ this.hero2.arm }}</li>  
      <li>Bone C: {{ c }}</li>    
      <li>Bone D: {{ d }}</li>   
      <li>resHpHero1: {{ resHpHero2 }}</li> 
      <li>data2: {{ fightersService.dataResHp2[0] }}</li> 
    </ul>
  </div>
</div>
<!-- <button class="btn" (click)="goToHome()">Go Home</button>  -->
<button class="btn" (click)="fightProcessAsync1()">Async proc</button> 
<hr>
<button class="btn" (click)="fightCicleAsync()">Cicle async</button>  
<hr>
<button class="btn" (click)="testBalanceAsync()">Balance async</button>  
 


              