<!-- <button (click)="showFighter(hero)">
        Get hero
</button> -->

<div class="mainfield">
  <div class="card">
    <ul>
      <li>Race : {{hero.desc}}</li>
      <li>Name : {{ hero.name }}</li>
      <li>Strenght : {{hero.str}}</li>
      <li>Agility : {{hero.agil}}  </li>
    </ul>
  </div>  
  <!-- <button (click)="showFighter(evilHero)">
  Get hero
  </button> -->


  <div class="card">
    <ul>
      <li>Race : {{evilHero.desc}}</li>
      <li>Name : {{ evilHero.name }}</li>
      <li>Strenght : {{evilHero.str}}</li>
      <li>Agility : {{evilHero.agil}}  </li>
    </ul>
  </div>
</div>
<button class="btn" (click)="goToHome()">Go Home</button> 
<!-- <button class="btn" (click)="goToFight()">Start Fight</button>  
<button class="btn" (click)="goToFight()">Start Async</button>   -->


              