<!-- <button (click)="showFighter(hero)">
        Get hero
</button> -->


<div class="card">
        <ul>
          <li>Race : {{hero.description}}</li>
          <li>Name : {{ hero.name }}</li>
          <li>Strenght : {{hero.strength}}</li>
          <li>Agility : {{hero.agility}}  </li>
        </ul>
</div>
<!-- <button (click)="showFighter(evilHero)">
  Get hero
</button> -->


<div class="card">
  <ul>
    <li>Race : {{evilHero.description}}</li>
    <li>Name : {{ evilHero.name }}</li>
    <li>Strenght : {{evilHero.strength}}</li>
    <li>Agility : {{evilHero.agility}}  </li>
  </ul>
</div>

              