<div class="mainfield">   
        <div class="leftbar">
            <!-- <ul>
            <li *ngFor="let fighter of fighters">
                    <button (click)="addToFight(fighter)">
                            <ul>
                                <li>Race : {{fighter.description}}</li>
                                <li>Name : {{ fighter.name }}</li>
                                <li>Strenght : {{fighter.strength}}</li>
                                <li>Agility : {{fighter.agility}}  </li>
                            </ul>
                        </button>              
                </li>
            </ul>   -->
            <button class="hero-btn" *ngFor="let fighter of fighters" (click)="addToFight(fighter)">
                <p>Name: {{ fighter.name }}</p>
                <p>Race: {{ fighter.desc }}</p>
                <p>Strength: {{ fighter.str }}</p>
                <p>Agility: {{ fighter.agil }}</p>
            </button>
        </div>    

        <div class="field">
            <div class="card">
                <p>Name: {{ this.hero1.name }}</p>
                <!-- <p>Race: {{ this.hero1.desc }}</p>
                <p>Strength: {{ this.hero1.str }}</p>
                <p>Agility: {{ this.hero1.agil }}</p> -->
                <p>Health: {{ this.hero1.hp }}</p>
                <p>Damage: {{ this.hero1.dmg }}</p>
                <p>Atack Speed: {{ this.hero1.as }}</p>
                <p>Armor: {{ this.hero1.arm }}</p>       
            </div>
            <div class="card">
                <p>Name: {{ this.hero2.name }}</p>
                <!-- <p>Race: {{ this.hero2.desc }}</p>
                <p>Strength: {{ this.hero2.str }}</p>
                <p>Agility: {{ this.hero2.agil }}</p> -->
                <p>Health: {{ this.hero2.hp }}</p>
                <p>Damage: {{ this.hero2.dmg }}</p>
                <p>Atack Speed: {{ this.hero2.as }}</p>
                <p>Armor: {{ this.hero2.arm }}</p>       
            </div>
        </div>

        <div class="rightbar">
            <!-- <ul>
            <li *ngFor="let oponent of fighters">
                    <button (click)="addToFightOponent(oponent)">
                            <ul>
                                <li>Race : {{oponent.description}}</li>
                                <li>Name : {{ oponent.name }}</li>
                                <li>Strenght : {{oponent.strength}}</li>
                                <li>Agility : {{oponent.agility}}  </li>
                            </ul>
                        </button>              
                </li>
            </ul>   -->
            <button class="hero-btn" *ngFor="let oponent of fighters" (click)="addToFightOponent(oponent)">
                <p>Name: {{ oponent.name }}</p>
                <p>Race: {{ oponent.desc }}</p>
                <p>Strength: {{ oponent.str }}</p>
                <p>Agility: {{ oponent.agil }}</p>
            </button>
        </div>  
    
      
</div>
<button class="btn" (click)="goToFight()">TO FIGHT</button>  