.wrapper {
    display: block;
    padding: 1rem;
    margin: 0.7rem 0;
    width: 1250px;
    border: 1px solid;
  }

  h1 {
    text-align : center;
  }

  h2 {
    text-align : center;
  }
  
  .list {
    list-style: disc;
    margin-left: 50px;
  }

  strong {
    color: red;
  }
  .done {
    color: green;
  }