<div class="wrapper">
    <h1>Test SPA (Angular)</h1>
    <h3>Цель:</h3>
    <p>Создание приложения, для отладки игрового баланса PvP.</p>
    <h2  class="done"><em>1 ЭТАП</em></h2>
    <p><strong>Создание набора персонажей, который будет доступен в приложении.</strong></p>
    <ul>Персонажи должны иметь две основные характеристики:
        <li class="list"><em>Сила</em>
            <ul>
                <li class="list">Первая производная - урон (далее - DMG)</li>
                <li class="list">Вторая производная - количество здоровья (далее - HP)</li>
            </ul>
        </li>
        <li class="list"><em>Ловкость</em>
            <ul>
                <li class="list">Первая производная - скорость атаки (далее - AS)</li>
                <li class="list">Вторая производная - броня (далее - ARM)</li>
            </ul>
        </li>
    </ul>
    <h2><em>2 ЭТАП</em></h2>
    <p><strong>Создание структуры проекта. </strong></p>
    <h3 class="done">Project details:</h3>
    <p >Описание функционала приложения.</p>
    <p>Описание сущностей Angular, с помощью которых реализован функционал.</p>
    <h3>Home page:</h3>
    <p  class="done">Создание двух списков персонажей с отображением основных характеристик. Выбор соперников. <strong>Отображение производных характеристик.</strong> </p>
    <h3>Fight:</h3>
    <p>Запуск поединка между соперниками. 
        Поединок осуществляется броском кубика с 6 (шестью) гранями (от 1 до 6 целыми числами). </p>
        <ul><em>Работают производные характеристики:</em>
            <li class="list">1) Успешная атака : кубик A -(минус) кубик B > 0</li>
            <li class="list">2) Результат успешной атаки HP = HP - (DMG - ARM)</li>
            <li class="list">3) Критический провал: кубик A -(минус) кубик B = -5 .(При критическом провале урон себе)</li>
            <li class="list">4) Бой начинается персонажем с большей ловкостью. <strong>Бой должен проходить в реальном времени.</strong>
            Т.е. каждый персонаж атакует с учетом своей скорости атаки (AS)</li>
        </ul>
    <p>Бой заканчивается когда у одного из персонажей здоровье падает до HP  < 0. </p>
    <p>Функция проведения N-поединков. Запись статистики. </p>
    <h3>Stats:</h3>
    <p>На основании собранных данных построение графиков и предоставление иной информации. </p>
    <p>Базовая статистика: количетво побед каждой стороной за N-поединков. </p>
    <p>Базовый график: ось X - сражения. Ось Y : (+) - количество HP оставшееся у стороны А. (-) - количество HP оставшееся у стороны B.</p>
    <h2><em>3 ЭТАП</em></h2>
    <p><strong>Реализация проекта стандартными средствами Angular, а так же сторонних библиотек . </strong></p>
    <ul><em>Обеспечение функционала:</em>
        <li class="list done">Создание файла с данными о персонажах. </li>
        <li class="list done">Генерация компонентов с помощью Angular CLI. </li>
        <li class="list done">Генерация сервиса с помощью Angular CLI, для обеспечения работы с данными. </li>
        <li class="list done">Настройка маршрутизации. </li>
        <li class="list"><p class="done">Осуществление передачи данных из Fighters.ts в Home page. Затем из Home page в Fight. </p>Затем из Fight в Stats. </li>
        <li class="list">Описание производных характеристик. </li>
        <li class="list">Разработка логики боя. </li>
        <li class="list">Осуществление сбора данных о боях.</li>
        <li class="list">Реализация отображения статистики (Chart.js , Highcharts, D3). </li>
    </ul>
    <h2><em>4 ЭТАП</em></h2>
    <p><strong>Дальнейшие задачи. </strong></p>
    <ul><em>Расширение функционала:</em>
        <li class="list">Создание модуля регистрации, с разделением по правам (админ и юзер) </li>
        <li class="list">Добавление анимации (по вкусу)</li>
        <li class="list">В режиме боя добавить отображение текущего количества HP, стилизованное под "шарик как в Diablo 2"</li>
        <li class="list">Добавить еще производных характеристик в бою (например regen, crit, critChance, dodge)</li>
        <li class="list">Смеха ради ввести погодный коэффициент, влияющий на разные производные характеристики по-разному. </li>
        <li class="list">Организовать выбор локации, привязанный к реальному региону на планете. </li>
        <li class="list">Осуществить получение актуальных данных о погоде (в выбранном регионе перед началом каждого боя). </li>
        <li class="list">Реализовать систему уровней для отладки увеличения основных характеристик. </li>
        <li class="list">Инвентарь...</li>
    </ul>
</div>
